@using WebApplication1.Models;
@model User

<h1>User Detail</h1>
<table class="table table-responsive table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Phone No</th>
            <th scope="col">Joined on</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Email</td>
            <td>@Model.Password</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.JoinOn</td>
            <td>@Model.Role.Name</td>
            <td>
                <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@Model.Id">Delete</a>
                <a asp-controller="Admin" asp-action="AddOrUpdateUser" asp-route-id="@Model.Id">Edit</a>
                </td>
        </tr>
    </tbody>
</table>
