@using WebApplication1.Models;
@model SubCategory

<h1>Sub Category Detail</h1>
<a asp-action="SubCategory" asp-controller="Admin">Back to List</a>

<table class="table table-responsive table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Category.Name</td>
            <td>
                <a asp-controller="Admin" asp-action="DeleteSubCategory" asp-route-id="@Model.Id">Delete</a>
                <a asp-controller="Admin" asp-action="AddOrUpdateSubCategory" asp-route-id="@Model.Id">Edit</a>

            </td>
        </tr>

    </tbody>
</table>
